<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<h1>게시물 작성 페이지</h1>
<div th:object="${article}">
<input id="articleId" type="hidden" th:value="${article.id}"/>
작성자 : <input id = "writer" readonly th:value="${article.writer} ? ${article.writer} : ${userId}"><br>
글 내용 : <input id = "content" th:value="${article} ? ${article.content} : ''"><br>
<button th:if="${article.writer}==${loginId}" onclick="submit()">수정</button>
<button th:unless="${article.id}" onclick="submit()">등록</button>
</div>


<script th:inline="javascript">
    function submit() {
        const id = $("#articleId").val();
        const writer = $("#writer").val();
        const content = $("#content").val();
        const articleDto = {
            id,
            writer,
            content
        };

        $.ajax({
            type: "POST",
            url: "/article/save",
            data: JSON.stringify(articleDto),
            dataType: "json",
            contentType : "application/json"
        }).done(() => {
            console.log("success!");
            location.href = `/article/find/all`;
        });
    }
</script>
</body>
</html>