<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>STUDY</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
아이디 : <input id = "userId"><br>
비밀번호 : <input id = "userPw"><br>

<button onclick="login('session')">세션 로그인</button>
<button onclick="login('token')">토큰 로그인</button>
<button onclick="location.href='/oauth2/authorization/google'">구글 로그인</button>
<button onclick="location.href='/member/signup'">회원가입</button>

<script th:inline="javascript">
    function login(param) {
        const userId = $("#userId").val();
        const userPw = $("#userPw").val();
        const memberDto = {
            "id" : userId,
            "password" : userPw
        };
        const loginUrl = `/login/${param}`;

        $.ajax({
            url: loginUrl,
            contentType: 'application/json',
            data: JSON.stringify(memberDto),
            type: "POST",
        }).done(function () {
            location.href = `/main/${param}`;
        });
    }
</script>
</body>
</html>